body{
    background-color: rgb(25, 19, 52);
}
#app{
    width:600px;
    height:600px;
    background-color: white;
    margin:100px auto;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
}
.cell{
    cursor: pointer;
}
.occupied{
    cursor: not-allowed;
    pointer-events: none;
}
